{% extends "base.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

{% block title%}Bus App{% endblock %}
{% block content %}
<div class="container my-5">
<form method="POST" name="busapp">
    <div>
        <!-- <img src="{{url_for('static', filename = 'busroutes/Route X.png')}}" alt = "busroute"></img> -->
        <img src="{{busrouteimage}}" alt = {{busrouteimage}}></img>
    </div>

    <select id='busroute' name='busroute'>
        <option>{{routesave}}</option>
        {% for item in dict %}
        <option>{{item}}</option>
        {% endfor %}

    </select>
    <div>
        <fieldset>
            <legend>Select Visible Busroutes:</legend>
        <ul>
            {% for item in dict %}
            <li>
                <input type='checkbox' id={{item}} name='busroutes' value={{item}}>
                <label for={{item}}>{{item}}</label>
            </li>
            {% endfor %}
        </ul>
        </fieldset>
    </div>
    <div>
        <button type="submit" value="Submit">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </div>
</form>
</div>
{% endblock %}