{% extends "base.html" %}
{% block content %} <!-- Basic page gen -->
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="static/images/calendar.png" alt="">
    <h1 class="display-5 fw-bold">B.There</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">B.There is the perfect application for small scale event planning.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href = "{{url_for('events')}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">See Events</button></a>
      </div>
    </div>
  </div>
{% endblock %}